doctype html
html(lang="en")
  head
    title=WeBagJScripts
  body
    h1 Welcome to our webserver!
    h3 We are WeBagJScripts
    h5 Our parking system is cool

    h4 List of spaces and their status
    ul(id="space-list")

  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    socket.on('sensor-update', function (data) {
      addText(data);
    });


    function addText(obj) {
      console.log(obj);
      var space = $('#space-' + obj.id);
      if(space.length > 0){
        space.html(obj.id + ": " + obj.status);
      }
      else {
        var spaces = $('#space-list');
        spaces.html(spaces.html() + "<li id='space-" + obj.id + "'>" + obj.id + ": " + obj.status + "</li><br>");
      }
    }
      var socket = io();
      socket.on('sensor-update', function (data) {
          addText(data);
      });


      function addText(obj) {
          console.log(obj);
          var space = $('#space-' + obj.id);
          if(space.length > 0){
              space.html(obj.id + ": " + obj.status);
          }
          else {
              var spaces = $('#space-list');
              spaces.html(spaces.html() + "<li id='space-" + obj.id + "'>" + obj.id + ": " + obj.status + "</li><br>");
          }
      }

