doctype html
html(lang="en")
  head
    title=WeBagJScripts
  body
    div(id='sensors-div', hidden)!{sensors}
    h1 Welcome to our webserver!
    h3 We are WeBagJScripts
    h5 Our parking system is cool

    canvas(width=500, height=300, id='mycanvas', style="background: url('images/parking-lot-temp-1.jpg'); background-size: 100% 100%")

    h4 List of spaces and their status
    ul(id="space-list")

  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="/socket.io/socket.io.js")
  script(src="scripts/Location.js")
  script(src="scripts/home.js")







